@import url('https://fonts.cdnfonts.com/css/cf-remington-typewriter');
                
body .madness-grid-two {
    font-family: CFRemingtonTypewriter-Regul;
    background-image: url('./img/vintagepaper4.png');
    background-repeat: no-repeat;
}
   
@font-face {
    font-family: CFRemingtonTypewriter-Regul;
    src: url(font/CFRemingtonTypewriter-Regul.ttf) format("truetype");
}

.madness-grid-two .checkbox {
    box-sizing: border-box;
    /* background: radial-gradient(red, black, transparent, transparent); */
    background: transparent;
    background-size: 60px 60px;
    /* height: max-content; */
    /* min-height: 100px; */
    /* min-width: 100px; */
    /* border: 2px solid red; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* scroll-snap-type: proximity; */
    scroll-snap-align: center;
    display: grid;
    place-items: center;
    place-self: center;
    width: max-content;
    z-index: 5;
    margin-inline: 16px;
    position: relative;
    /* opacity: 0.5; */
}

/* .checkbox {
    display: grid;
    place-items: center;
} */

.madness-grid-two {
    grid-template-columns: repeat(24, 1fr);
    /* grid-template-rows: repeat(28, 1fr); */
    grid-template-rows: repeat(14, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr min-content 1fr 1fr 1fr min-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr min-content min-content min-content 1fr 1fr 1fr 1fr; */
    /* overflow: scroll; */
    /* scroll-snap-type: both mandatory; */
    /* scroll-snap-type: both proximity; */
    padding: 100px;
}
