@import url('https://fonts.cdnfonts.com/css/cf-remington-typewriter');
                
body .madness-grid {
    font-family: CFRemingtonTypewriter-Regul;
    background-image: url('./img/vintagepaper4.png');
    background-repeat: no-repeat;
}
   
@font-face {
    font-family: CFRemingtonTypewriter-Regul;
    src: url(font/CFRemingtonTypewriter-Regul.ttf) format("truetype");
}

/* @font-face {
    font-family: CF Remington Typewriter;
    src: url(font/Archaic1897.ttf) format("truetype");
} */

.madness-grid .checkbox {
    box-sizing: border-box;
    /* background: radial-gradient(red, black, transparent, transparent); */
    background: transparent;
    background-size: 60px 60px;
    /* height: max-content; */
    /* min-height: 100px; */
    /* min-width: 100px; */
    /* border: 2px solid red; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* scroll-snap-type: proximity; */
    scroll-snap-align: center;
    display: grid;
    place-items: center;
    place-self: center;
    width: max-content;
    z-index: 5;
    margin-inline: 16px;
    position: relative;
    /* opacity: 0.5; */
}
/* .checkbox {
    display: grid;
    place-items: center;
} */

.no-symptoms, .symptom-found {
    /* justify-content: center; */
    text-align: center !important; 
    text-indent: 0% !important;
    /* position: relative;
    top: 0px; */
}

:global(body) {
    /* background-image: url(../img/background-min.jpg); */
    background-size: cover;
    background-position: center;
}

@supports (background-attachment: fixed) {
    :global(body) {
        background-attachment: fixed;
    }
}

:global(:root) {
    --spacing: 8px;
    --border: 4px;
}

/* .vertical-line-dash,
.horizontal-line-dash {
    background-image: url('./img/Line.png');
    height: 200px;
    width: 200px;
} */

.vertical-line-dash {
    /* border: var(--spacing) solid white; */
    justify-self: center;
    margin-block: calc(var(--border) * -1);
    /* border-radius: 100px; */
    /* border-block: 0px solid transparent !important; */
    /* border-inline: 0px solid transparent !important; */
}

.horizontal-line-dash {
    /* border: var(--spacing) solid white; */
    justify-self: center;
    margin-inline: calc(var(--border) * -1);
    /* border-radius: 100px; */
    /* border-inline: 0px solid transparent !important; */
    transform: rotate(90deg);
    /* border-block: 0px solid transparent !important; */
}

.unchecked {
    text-align: center;
}

.horizontal-line-dash,
.vertical-line-dash {
    padding: calc(var(--spacing) - (var(--spacing) - var(--border)));
    /* border: 2px solid green; */
    position: absolute;
    height: 224px;
    width: 224px;
}

.corner-down-right {
    transform: rotate(270deg);
    position: absolute;
}
.corner-down-left {
    /* transform: rotate(270deg); */
    position: absolute;
}
.corner-up-right {
    transform: rotate(180deg);
    position: absolute;
}
.corner-up-left {
    transform: rotate(90deg);
    position: absolute;
}
.trans-madness {
    z-index: 1;
    pointer-events: none;
}

.madness-grid {
    grid-template-columns: repeat(24, 1fr);
    /* grid-template-rows: repeat(28, 1fr); */
    grid-template-rows: repeat(23, 1fr);
    /* grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr min-content min-content min-content min-content min-content; */
    /* overflow: scroll; */
    /* scroll-snap-type: both mandatory; */
    /* scroll-snap-type: both proximity; */
    padding: 100px;
}

@media only screen and (max-width: 600px) {
    .heresy-grid {
        grid-template-columns: repeat(26, 1fr);
        grid-template-rows: repeat(30, 1fr);
        column-gap: 10px;
    }
}
section {
    width: 100vw;
}

:global(.locked) {
    opacity: 0;
    pointer-events: none;
}

:global(.unlock .locked) {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) 1 forwards;
}

@keyframes ping {
    0%,
    80% {
        opacity: 1;
        transform: scale(1.1);
    }

    0%,
    5%,
    10%,
    15%,
    20%,
    25%,
    30%,
    35%,
    40%,
    45%,
    50%,
    55%,
    60%,
    65%,
    70%,
    75%,
    80%,
    85%,
    90% {
        margin-left: 5px;
        margin-right: -5px;
    }
    3%,
    8%,
    13%,
    18%,
    23%,
    28%,
    33%,
    38%,
    43%,
    48%,
    53%,
    58%,
    63%,
    68%,
    73%,
    78%,
    83%,
    88% {
        margin-right: 5px;
        margin-left: -5px;
    }

    99% {
        transform: scale(2);
        opacity: 0;
        margin-inline: 0;
    }
    100% {
        display: none;
    }
}