input:not([type='checkbox']) {
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid darkgoldenrod;
}

input:not([type='checkbox']):hover {
    border: 1px solid black;
}
input:not([type='checkbox']):focus {
    outline: 1px solid black;
    outline-offset: 2px;
    border: 1px solid black;
    background-color: white;
}

@keyframes badCode {
    0% {
        color: black
    }
    20% {
        color: red
    }
    100% {
        color: black
    }
}

@keyframes badCode2 {
    0% {
        color: rgb(255, 255, 255)
    }
    20% {
        color: red
    }
    100% {
        color: rgb(255, 255, 255)
    }
}

@keyframes goodCode {
    0% {
        color: black
    }
    20% {
        color: green
    }
    100% {
        color: black
    }
}