body {
 background-image: url('./img/vintagepaper4.png');
}

.grid-one {
  display: grid;
  grid-template-columns: 10px 100px 100px 100px 100px 100px 100px 100px 10px;
  grid-template-rows: 100px 75px 100px 100px 50px 100px 80px 100px 100px 100px 80px 100px 90px 70px 90px 100px ;
  grid-gap: 5px;
}

.unchecked, .line, .small-line, .vertical-line-two {
 height: 100px;
 width: 100px;
 display: inline-block;
}

.cropped-line {
  height: 75px;
  width: 100px;
  display: inline-block;
  object-fit: cover;
  top: 20px;
  position: relative;
}

.small-line-one, .small-line-two {
  position: relative;
  width: 40%;
  height: 40%;
}

.small-line-one {
  top: -217px;
  left: 83px;
}

.small-line-two {
  top: -315px;
  left: -80px;
}

.vertical-line-two {
  position: relative;
  top: -95px;
  left: 50px;
}

.corner-dr {
  position: relative;
  left: 25px;
  top: 4px;
}

.corner-dr-two {
  position: relative;
  left: 25px;
  top: 25px;
}

.corner-dr-three {
  position: relative;
  left: 10px;
  top: 10px;
}

.corner-dr-four {
  position: relative;
  left: 15px;
  top: 30px;
}

.corner-dl {
  position: relative;
  left: -12px;
  top: 6px;
}

.corner-dl-two {
  position: relative;
  left: -30px;
  top: -130px;
}

.corner-dl-three {
  position: relative;
  left: -12px;
  top: 4px;
}

.corner-dl-four {
  position: relative;
  left: -12px;
  top: 38px;
}

.corner-ur {
  position: relative;
  left: 20px;
  top: -5px;
}

.corner-ur > img {
  transform: rotate(180deg);
  height: 115px;
  width: 115px;
  /* left: 50px;
  top: 0px; */
}

.corner-ur-two {
  position: relative;
  left: 7px;
  top: -5px;
}

.corner-ur-two > img {
  transform: rotate(180deg);
  height: 115px;
  width: 115px;
  /* left: 50px;
  top: 0px; */
}

.corner-dr > img {
  transform: rotate(270deg);
  height: 90px;
  width: 90px;
  /* left: 50px;
  top: 0px; */
}

.corner-dr-two > img {
  transform: rotate(270deg);
  height: 115px;
  width: 115px;
}

.corner-dr-three > img {
  transform: rotate(270deg);
  height: 115px;
  width: 115px;
}

.corner-dr-four > img {
  transform: rotate(270deg);
  height: 115px;
  width: 115px;
}

.corner-dl > img {
  /* transform: rotate(90deg); */
  height: 90px;
  width: 90px;
}

.corner-dl-two > img {
  /* transform: rotate(90deg); */
  height: 115px;
  width: 115px;
}

.corner-dl-three > img {
  /* transform: rotate(90deg); */
  height: 100px;
  width: 100px;
}

.corner-dl-four > img {
  /* transform: rotate(90deg); */
  height: 100px;
  width: 100px;
}

.corners-dl {
  position: relative;
  top: 33px;
  left: -40px;
}

.corners-dl-two {
  position: relative;
  top: 33px;
  left: -20px;
}

.corners-dl-three {
  position: relative;
  top: 4px;
  left: -38px;
}

.corners-dl-four {
  position: relative;
  top: 4px;
  left: -38px;
}

.corners-dr {
  transform: rotate(270deg);
  position: relative;
  top: -90px;
  left: 30px;
}

.corners-dr-two {
  transform: rotate(270deg);
  position: relative;
  top: 25px;
  left: 30px;
}

.corners-dr-three {
  transform: rotate(270deg);
  position: relative;
  top: -120px;
  left: 30px;
}

.corner-ul {
  /* transform: rotate(90deg); */
  position: relative;
  top: -4px;
  left: -33px;
  height: 115px;
  width: 115px;
}

.corner-ul > img {
  transform: rotate(90deg);
  position: relative;
  height: 115px;
  width: 115px;
}

.corner-ul-two {
  /* transform: rotate(90deg); */
  position: relative;
  top: -10px;
  left: -10px;
}

.corner-ul-two > img {
  transform: rotate(90deg);
  position: relative;
  height: 90px;
  width: 90px;
}

.corners-ul {
  transform: rotate(90deg);
  position: relative;
  top: -10px;
  left: -40px;
}

.corners-ul-two {
  transform: rotate(90deg);
  position: relative;
  top: -5px;
  left: -25px;
}

.corners-ul-three {
  transform: rotate(90deg);
  position: relative;
  top: -15px;
  left: -40px;
}

.corners-ur {
  transform: rotate(180deg);
  position: relative;
  top: -133px;
  left: 25px;
}

.corners-ur-two {
  transform: rotate(180deg);
  position: relative;
  top: -5px;
  left: 10px;
}

.corners-ur-three {
  transform: rotate(180deg);
  position: relative;
  top: -138px;
  left: 20px;
}

.corners-down > img, .corners-up > img {
  width: 115px;
  height: 115px;
}

.corners-dr > img {
  transform: rotate(270deg);
}

.crossed-lines-one {
  position: relative;
  width: 140px;
  top: 1px;
  left: -18px;
}

.crossed-lines-two {
  position: relative;
  width: 125px;
  height: 125px;
  top: -1px;
  left: -12px;
}

.crossed-lines-three {
  position: relative;
  width: 100px;
  height: 100px;
  top: 20px;
  left: -2px;
}

.bigger {
  height: 120px;
}

.horizontal-line {
  height: 140px;
  top: -31px;
  position: relative
}

.horizontal-line-two {
  height: 140px;
  width: 140px;
  top: -15px;
  position: relative
}

.horizontal-line-three {
  height: 40px;
  width: 40px;
  top: -96px;
  left: 60px;
  position: relative
}

.horizontal-line-four {
  height: 150px;
  width: 150px;
  top: -105px;
  left: 55px;
  position: relative
}

.horizontal-line-five {
  height: 110px;
  width: 110px;
  top: 19px;
  left: 0px;
  position: relative
}

.horizontal-line-six {
  height: 40px;
  width: 40px;
  top: -63px;
  left: 63px;
  position: relative
}

.rotated-line {
  position: absolute;
  transform: rotate(90deg);
  top: 0px;
  left: 0px;
}

.rotated-line > img {
  width: 100px;
  height: 100px;
}

.line > img, .crossed-lines-one > img, .crossed-lines-two > img, .crossed-lines-three > img, .unchecked > img, .corner-se > img, .corner-sw > img, .small-line > img, .vertical-line-two > img {
  object-fit: cover;
  width: 100%
}

.corner-se, .horizontal-line, .horizontal-line-two, .horizontal-line-three, .horizontal-line-four, .horizontal-line-five, .horizontal-line-six, .small-line-one, .small-line-two {
  transform: rotate(270deg);
}

.no-symptoms {
  position: relative;
  top: -30px;
  left: 0px;
}

.grid-two {
  display: grid;
  grid-template-columns: 10px 100px 100px 100px 100px 100px 100px 100px 10px;
  grid-template-rows: 100px 80px 100px 80px 100px 80px 80px 80px 100px 80px 80px 100px 90px 70px 90px 100px ;
  grid-gap: 5px;
}

.grid-three {
  display: grid;
  grid-template-columns: 10px 100px 100px 100px 100px 100px 100px 100px 10px;
  grid-template-rows: 100px 80px 100px 80px 100px 80px 80px 80px 100px 80px 80px 100px 90px 90px 80px 100px ;
  grid-gap: 5px;
}