@media only screen and (max-width: 480px) {
    body {
        /* background: \i; */
        width: 100%;
        height: 100%;
        /* max-width: 100%; */
        /* overflow-x: hidden; */
    }
    footer {
        display: none !important;
    }
    .grid-center {
        width: 100%;
    }
    .heresy-title {
        /* display: none; */
        font-size: 10vi;
    }
    .title-code-container{
        width: 150vw !important;
    }
    .enter-code-container {
        /* display: none; */
        /* width: .00000000001rem; */
        height: 5rem;
        /* left: -10rem; */
        /* position: static; */
        top: 0;
        /* right: 0; */
    }
    .madness-tab,
    .redacted {
        width: 210% !important;
    }
    .madness-title {
        position:relative;
        top: 2rem
    }
    .enter-code-two {
        display: none;
    }
    .enter-code{
        font-size: medium;
        width: 5.5rem;
        height: 1rem;
    }
    .enter-code-input {
        width: 30vw;
        height: 5vh;
        font-size: small;
    }
    .heresy-grid {
        grid-template-columns: repeat(25, 0.6rem) !important;
        grid-template-rows: repeat(28, 2vh) !important;
        column-gap: 10px;
        row-gap: 0.25rem;
        top: -2rem;
        left: -5.5rem;
    }
    .heresy-grid .stamp {
        box-sizing: border-box;
        /* background: radial-gradient(red, black, transparent, transparent); */
        background: transparent;
        background-size: 60px 60px;
        /* height: max-content; */
        /* min-height: 100px; */
        /* min-width: 100px; */
        /* border: 2px solid red; */
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* scroll-snap-type: proximity; */
        scroll-snap-align: center;
        display: grid;
        place-items: center;
        place-self: center;
        width: 10vw;
        height: auto;
        z-index: 5;
        margin-inline: 16px;
        position: relative;
        /* padding: 0px !important; */
        /* opacity: 0.5; */
        /* display: none; */
    }
    .heresy-grid .stamp p {
        display: none !important;
        /* grid-area: 1.5/auto/auto/auto; */
        /* top: -100px; */
        position: absolute;
        /* width: 15%; */

        padding: 10px;
        font-size:x-small;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-indent: 0%;
        /* height: 100%; */
        text-align: center;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .madness-grid .checkbox {
        box-sizing: border-box;
        /* background: radial-gradient(red, black, transparent, transparent); */
        background: transparent;
        background-size: 60px 60px;
        /* height: max-content; */
        /* min-height: 100px; */
        /* min-width: 100px; */
        /* border: 2px solid red; */
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* scroll-snap-type: proximity; */
        scroll-snap-align: center;
        display: grid;
        place-items: center;
        place-self: center;
        /* width: max-content; */
        z-index: 5;
        margin-inline: 16px;
        position: relative;
        /* width: 10px !important; */
        /* height: 10px !important; */
        /* opacity: 0.5; */
    }
    /* .horizontal-line-dash,
    .vertical-line-dash {
        height: 25px !important;
        width: 25px !important;
    } */
    .no-symptoms,
    .symptoms-found{
        font-size: x-small !important;
    }
    .corner-down-left,
    .corner-down-right,
    .corner-up-left,
    .corner-up-right {
        width: 200% !important;
        top: 0 !important;
        margin-top: 0 !important;
    }
    .heresy-grid-bg {
        /* background-image: url('./img/Heresy-Lines.png') !important; */
        /* background: red !important; */
        /* z-index: 9999; */
        /* width: min-content; */
        display: block;
        position: absolute;
        width: 100vw;
        margin-left: 0 !important;
        left: 1rem;
        top: 10rem;
    }
    /* .trans-heresy {
        position: relative;
    } */
    .vertical-line,
    .horizontal-line {
        display: none
    }
    .stamp#SinsOfTheFather {
        /* display: none; */
        grid-area: 11 / 8 / span 2 / span 2 !important;
    }
    .stamp#BeyondTheVeil {
        /* display: none; */
        grid-area: 11 / 18 / span 2 / span 2 !important;
    }
    .stamp#PandorasBox {
        grid-area: 15 / 8 / span 2 / span 2 !important;
    }
    .stamp#OutOfTime {
        grid-area: 15 / 13 / span 2 / span 2 !important;
    }
    .stamp#ASoulInLimbo {
        grid-area: 15 / 18 / span 2 / span 2 !important;
    }
    .stamp#WhatWasLost {
        grid-area: 19 / 11 / span 2 / span 2 !important
    }
    .stamp#GoodHousekeeping {
        grid-area: 18 / 15 / span 2 / span 2 !important
    }
    .stamp#MachineOfBlood {
        grid-area: 22 / 6 / span 2 / span 2 !important;
        position: relative;
        left: -0.5rem;
    }
    .stamp#ChainsThatBind {
        grid-area: 22 / 21 / span 2 / span 2 !important;
        position: relative;
        left: -0.5rem;
    }
    .stamp#OutWithABang {
        grid-area: 24 / 7 / span 2 / span 2 !important;
        position: relative;
        left: -0.5rem;
    }
    .stamp#DeathDeferred {
        grid-area: 24 / 10 / span 2 / span 2 !important;
    }
    .stamp#Misled {
        grid-area: 24 / 17 / span 2 / span 2 !important;
        position: relative;
        left: -0.8rem;
    }
    .stamp#BetterSafeThanSorry {
        grid-area: 24 / 20 / span 2 / span 2 !important;
    }
        /* #line-one {
        background-color: red !important;
        grid-area: 2 / 13 / span 10 / span 2 !important;
        margin-top: 0 !important;
    }
    #line-two {
        background-color: red !important;
        grid-area: 4 / 12 / span 11 / span 2 !important;
    }
    #line-three {
        background-color: red!important;
        grid-area: 5 / 13 / span 2 / span 4 !important;
    }
    .stamp#stubborn {
        grid-area: 4 / 1 / span 4 / span 2 !important;
    }
    #line-six {
        background-color: red !important;
        grid-area: 7 / 12 / span 4 / 10 !important;
        margin-top: calc(var(--spacing) * 6) !important;
    } */

}